@import "./normalize.css";

/*:root -> 获取根元素html*/

:root {

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    -webkit-text-size-adjust: none;
}

body {
    user-select: none;
    /* 禁止用户鼠标在页面上选中文字/图片等 */
    -webkit-tap-highlight-color: transparent;
    /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
    width: 100vw;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

a {
    color: var(--color-text);
    text-decoration: none;
}
*::-webkit-scrollbar {
    width: 8px;
    height: 1px;
}
*::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    background: rgba(144,147,153,.3);
}
*::-webkit-scrollbar-track {
    background: #ededed;
    margin: 0;
}

button,
input,
select,
textarea {
    border: none;
    margin: 0;
    outline: none;
    padding: 0;
    background: none;
}

button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb!important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0;
}

img {
    border: none;
    display: block;
}